@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:poppins, arial, sans-serif;
}

html{
    scroll-behavior:smooth;
    height:100%;
}

body{
    min-height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    position:relative;
}

/* HEADER */

header{
    position:fixed;
    width:100%;
    background:#fff;
}

.header{
    width:80%;
    height:70px;
    overflow:hidden;
    margin:0 auto;
    padding:10px 0 15px 0;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:end;
    flex-wrap:wrap;

}

#box{
    height:100vh;
    width:100%;
}

#logo{
    float:left;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

nav{
    float:left;
}

nav > ul >li{
    padding:0 20px;
    float:right;
}

.link{
    color:#333333a1;
    font-weight:500;
    text-transform:capitalize;
}

.link:hover{
    color:#333;
}

/* .active{
    color:#333;
    font-weight:600;
} */

/* MAIN - home*/
#main-home{
     height:100vh;
    padding-top:70px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}

.image,
.content{
    width:400px;
    width:400px;
}

.image{
    padding:20px;
}

.content{
    text-align:center;
    padding-left:30px;
}

.content > h2{
    margin-bottom:30px;
    font-size:40px;
    font-weight:900;
    text-transform:capitalize;
}

.content > h2 > span{
    display:block;
    color:#999;
}

.content > p{
    font-size:15px;
}

.image > img{
    border-radius:100%;
}

/* MAIN - about*/
 #main-about{
    height:100vh;
    padding-top:70px;
    display:flex;
    justify-content:center;
    margin:auto;
 }

 #main-about > div{
    width:500px;
    text-align:center;
 }

 #main-about > div > .image{
    width:250px;
    margin:0 auto;
 }

 #main-about > div > h1{
    margin:20px 0;
    color:#333;
    font-size:25px;
    font-weight:400;
    text-transform:capitalize;
 }

/* MAIN - service*/
#main-service{
    height:100vh;
    padding-top:70px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
}

/* MAIN - service/left*/
.service-left {
    align-self:center;
}

#main-service > h2{
    text-align:center;
}

.card{
    height:150px;
    margin-top:20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.icon{
    height:100px;
    width:100px;
    margin-right:30px;
}

.card-content{
    width:300px;
    padding-left:20px;
    border-left:1px solid #333;
    text-align:center;
}

.card-content > h3{
    margin-bottom:10px;
}

.card-content > p{
    font-size:13px;
}

/* MAIN - service/right*/
.service-right{
    width:300px;
    padding:100px 20px 20px 20px;
    align-self:flex-start;
}

.service-right > h2{
    margin-bottom:10px;
}

.skill-tag{
    display:inline-block;
    margin:4px;
    padding:5px 10px;
    border:2px solid #ccc;
    background:#ddd;
    color:#333;
}

/*MAIN - contact*/
#main-contact{
    height:100vh;
    margin:auto;
    padding-top:70px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#form-header{
    margin-bottom:40px;
    color:#333;
    font-weight:20px;
    font-weight:400;
    text-transform:capitalize;
}

#main-contact > div{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}

.sm-box{
    margin:auto 0;
}

.sm-box > li{
    margin-bottom:40px;
    display:flex;
    align-items: center;;
}

.sm-box > li > img{
    width:25px;
    height:25px;
    display:inline-block;
}

.sm-box > li > a{
    width:100%;
    text-align:center;
    color:#333;
}

form{
    width:400px;
    padding:30px;
    background:rgba(225,225,225, 0.2);
    border-radius:6px;
    box-shadow:0 3px 5px rgba(0,0,0,0.3);
}

.input-box{
    display:inline-block;
    width:100%;
    margin-bottom:20px;
    padding:6px;
    background:rgba(225,225,225, 0.1);;
    font-family:18px;
    outline:none;
    border:none;
    border-bottom:1px solid #ddd;
}

.btn{
    width:100%;
    margin-top:40px;
    padding:6px;
    font-size:18px;
    background:#fff;
    border:2px solid #333333a1;
    border-radius:6px;
}

.btn:hover{
    background:#333333;
    color:#fff;
}

/*MAIN - portfolio*/
#main-portfolio{
    height:100vh;
    padding-top:70px;
    display:flex;
    flex-direction:column;
}

.title{
    margin:30px 0 20px 0;
    color:#333;
    font-size:25px;
    font-weight:400;
    text-transform:capitalize;
}

#projects-container{
    margin:auto 0 ;
    display:grid;
    grid-template-columns:repeat(auto-fill, 350px);
    grid-template-rows:repeat(3,250px);
    justify-content: center;
    gap:10px;
}

.project-box-placeholder{
    width:100%;
    padding:20px 20px 20px 20px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    border: 2px dashed #333;
    border-radius:6px;
}

.next{
    margin:auto;
    color:#333;
    font-weight:400;
}
.project-box{
    width:100%;
    padding:20px 20px 20px 20px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    border: 2px solid #333;
    border-radius:6px;
}

.project-box > h2{
    margin-bottom:10px;
    padding-bottom:10px;
    text-transform:capitalize;
    color:#333;
    border-bottom:1px solid #333;
    font-size:18px;
}

.project-box > p{
    font-size:13px;
    flex:2;
}

.project-box > .btn{
    width:50%;
    margin-top:20px;
    font-size:13px;
    color:#333;
    text-align:center;
}


.project-box > .btn:hover{
    color:#fff;
}

/* PROJECTS PAGE  */
.project-container{
    height:100%;
    width:80%;
    margin:70px auto auto;
    padding:20px 0;
}

#bottom{
    height:100px;
    width:100%;
    background:orangered;
}

#project-navbar{
    height:calc(100vh - 70px);
    width:150px;
    border-right:1.5px solid #ccc;
    position:fixed;
}

#project-navbar > ul{
    width:100%;
    margin-top:30px;
}

#project-navbar > ul > li{
    margin-bottom:10px;
}

#project-navbar > ul > li > a{
    color:#333;
    font-size:15px;
}

#project-content{
    height:900px;
    margin-left:auto;
    padding:20px;
    width:calc(100% - 150px);
}

#project-content > .placeholder-box{
    margin-bottom:10px;
    background:steelblue;
}

/*FOTTER*/
footer{
    margin-top:auto;
    width:100%;
    padding:20px 0;
    background:#333;
    text-align:center;
}

footer > p{
    color:#fff;
}