/* containers */
.container{
    width:80%;
    overflow:hidden;
    margin:0 auto;
}

.placeholder-container{
    height:100vh;
}

/*boxes*/
.placeholder-box{
    width:100%;
    /* height:180px; */
}

#simple-box{
    height:900px;
    background: crimson;;
}

/* align & centering elements */
.flex-row{
    display:flex;
    flex-direction:row;
}

/* link -elements */
a{
    text-decoration:none;
    cursor:pointer;
}

/* list elements */
ul{
    display:inline-block;
    list-style:none;
}

/* image elements */
img{
    width:100%;
    height:100%;
    display:block;
}